In [4]:
leave_days =0
leave_days = leave_days = 1
print(leave_days)

1

In [6]:
leave_days =0
leave_days -= 1
print(leave_days)

-1

In [10]:
age = 20
if age >= 18:
    print("adult")

adult

In [14]:
score = 45
if score > 40:
    outcome = "Pass"
    print(outcome)
else:
    outcome= "fail"
    print(outcome)

Pass

In [1]:
#Assignment 
#1. Write a program that determines whether a number is even or odd. Print a message indicating whether the number is even or odd.
def is_even_or_odd(number):
    if number % 2 == 0:
        return "even"
    else:
        return "odd"
    
number = 78
result = is_even_or_odd(number)
print(f"The number {number} is {result}.")

The number 78 is even.

In [ ]:
# 2. Write a program that checks if a given year is a leap year. A leap year is divisible by 4, but not divisible by 100, except if its divisible by 400.
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return True
    else:
        return False
    
year = 2020
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

In [5]:
#  Write a program that will use age to determine the price of a movie theater. Age < 13  price Ksh 400 13 <= Age <=17 Ksh 600 18 <= Age 65 <= Ksh 800 Age > 65 Ksh 350
def calculate_movie_price(age):
    if age < 13:
        return 400
    elif 13 <= age <= 17:
        return 600
    elif 18 <= age <= 65:
        return 800
    else:
        return 350

age = 12
movie_price = calculate_movie_price(age)
print(f"The price of the movie theater ticket for age {age} is Ksh {movie_price}.")

The price of the movie theater ticket for age 12 is Ksh 400.

In [6]:
fruits = ["mango",[" Paw paw" ,"oranges" ],"quava"]

print(fruits[1][0].upper())

 PAW PAW

In [15]:
noise_makers = ["Eva" , "Maggie" , "Kocheli"]
if "Solo" in noise_makers:
    print("present")
else:
    noise_makers.append("Solo")

In [16]:
print(noise_makers)

['Eva', 'Maggie', 'Kocheli', 'Solo']

In [29]:
noise_makers = []
noise_makers = ["Eva" , "Maggie" , "Kocheli"]
missing = ["Yussuf" , "Ida"]
if missing not in noise_makers:
    noise_makers.insert(0,missing)
print(noise_makers)

[['Yussuf', 'Ida'], 'Eva', 'Maggie', 'Kocheli']

In [27]:
print(len(noise_makers))

4

In [35]:
num = [23,4,5,6,77,98]
print(sorted(num))

[4, 5, 6, 23, 77, 98]